@mixin display ($display,$direction,$justify,$align){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
//animaciones
@keyframes pacman {
    from{
        padding-left: 0%;
    }
    50%{
        padding-left: 90%;
        transform: rotateY(180deg);
    }
    to{
        padding-left: 0%;
    }
}

//fuentes
@font-face {
    font-family: questrial;
    src: url("../fuentes/Questrial-Regular.ttf");
}
//variables
$paddingStd:10px 10px 40px 10px;
$borderStd:1px solid purple;

@media(min-width:1024px){
body{
    @include display(flex,column,center,center);
    background-color: beige;
    color: purple;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: auto;
    font-family: questrial;
    flex-wrap: wrap;
}
div article,div{
    border-collapse: collapse;
    border:$borderStd;
    @include display(flex,column,center,center);

}
.imagenes{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.contenedorImagen{
    @include display(flex,column,center,center);
    border:1px solid purple;


    img{
        max-width: 30rem;
        border-radius: 50px;
        padding: 20px;

    }
    .licenciaConExplicacion{
        padding: $paddingStd;
        @include display(flex,column,center,center);
        img{width: 6rem;}
    }
}
.elementoPicture{
    article{border: none;}
    border: 1px solid purple;
    @include display(flex,column,center,center);
}

.picture img{
    width: auto;
}
.audioVideo{

    video{
        width: 100%;
        padding:50px ;
    }
}

}
//general
div{
    height: auto;
    width: auto;
    article{
        height: 100%;
        width: 100%;
    }
}


.keyframe{
    img{width: 3rem;}
    .pacimg{
        animation-name:pacman;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

}
.especLicencia{
    max-width: 4rem;
}
.audioVideo{
    article{border: none;}
    padding: $paddingStd;
}


//dispositivos portatiles
@media(max-width:1023px){

    *{@include display(flex,column,center,center);}




    body{
    img{max-width: 50%;}
    background-color: beige;
    color: purple;
    margin: auto;
    font-family: questrial;
    flex-wrap: wrap;
    .licenciaConExplicacion img{max-width: 15%;}
    }

    div,div article{
        border:$borderStd;
        @include display(flex,column,center,center);
    }
}