//colores
$colorFondo:beige;
$color-cabecera:blue;
$colorPie:grey;
$letraBlanca:white;
$colorFooter:black;

//bordes
$bordeGeneral:1px solid black;


@media all and (min-width: 320px) {
    /* Estilos para anchos
    superiores a 320px */

    body{
    display: grid;
    grid-template-rows: repeat(6,1fr)

    }
    header,article,aside,footer, h3{
        border:$bordeGeneral;
    }
    header,footer{
        color: $letraBlanca;
    }
    header{
        background-color: $color-cabecera;
    }
    footer{
        background-color: $colorFooter;
    }
}
    /* tablets*/
   @media all and (min-width: 768px){
       body{
        display: grid;
        background-color: grey;
        grid-template-rows: 4fr 8fr 4fr;
        grid-template-columns: 20% 80%;
       }
       header{
           grid-area: 1/1/span 1/span 2;
       }
       aside{
           grid-area: 2/1;
           background-color: white;
       }

       main{
        grid-area: 2/2 ;
        border: $bordeGeneral;
        h3{
            background-color: $color-cabecera;
        }
       }

       footer{
        grid-area: 3/1/span 1/span 2;
        background-color: $colorFooter;
    }


    }


   @media all and (min-width: 1024px) {
    main{
        display: grid;
        border: 1px solid white;

    }
    h3{
        grid-area: 1/1;
    }
    .articulo1{
        grid-area: 2/1;

    }
    .articulo2{
        grid-area:2/2;
    }

   }
