* {
  margin: 10px;
  padding: 5px;
}

/* Media Query for Laptops and Desktops */

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul a {
    text-decoration: none;
  }
  nav ul ul, nav ul li {
    border: 1px solid black;
    list-style: none;
    border-collapse: collapse;
    background-color: beige;
  }
  .desplegable1 {
    padding: auto;
  }
  .desplegable2 {
    display: none;
    padding: none;
    list-style: none;
  }
  .desplegable1:hover > .desplegable2 {
    display: block;
    position: absolute;
    background-color: rgba(122, 122, 122, 0.39);
  }
  header div, footer div {
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main article {
    padding: 30px;
  }
  .roundedCorner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px 50px 30px 5px;
    background: grey;
    color: white;
    padding: 20px;
    width: 200px;
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .borderImage {
    border: 40px solid transparent;
    padding: 15px;
    -o-border-image: url("../imagenes/border.jpg") 20% round;
       border-image: url("../imagenes/border.jpg") 20% round;
  }
  .backgrounds {
    background-image: url("../imagenes/gondola-ride-in-venice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
  }
  .gradients {
    background-image: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(purple), to(black));
    background-image: linear-gradient(blue, purple, black);
    color: white;
  }
  .shadows {
    text-shadow: 1px 2px;
  }
  .text-effects {
    white-space: wrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .contenedorHorizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .transform2D img {
    width: 50%;
  }
  .img2D {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  .transform3D img {
    width: 50%;
  }
  .img3D {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .botonTransicion {
    width: 50%;
    height: auto;
    background: aquamarine;
    -webkit-transition: width 1s;
    transition: width 1s;
    color: white;
  }
  .botonTransicion:hover {
    width: 300px;
  }
  /* animacion*/
  @-webkit-keyframes animacion {
    from {
      background-color: aquamarine;
    }
    to {
      background-color: orangered;
    }
  }
  @keyframes animacion {
    from {
      background-color: aquamarine;
    }
    to {
      background-color: orangered;
    }
  }
  /* elemento animado */
  .animations {
    -webkit-animation-name: animacion;
            animation-name: animacion;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    background-color: orangered;
  }

  .tooltip {
    background-color: bisque;
    position: relative;
    display: inline-block;
    border: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .button {
    background-color: grey;
    color: black;
  }

  .button button {
    background-color: blueviolet;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .paginacion {
    background-color: #4CAF50;
    display: inline-block;
  }

  .paginacion a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .paginacion a.active {
    background-color: #4CAF50;
    color: white;
  }

  .paginacion a:hover:not(.active) {
    background-color: #ddd;
  }

  .columnas {
    background-color: cornflowerblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .columnas p {
    -webkit-column-count: 4;
            column-count: 4;
  }


  footer {
    background-color: beige;
  }
  .UserInterface {
    outline: 4px solid green;
    outline-offset: 15px;
    resize: both;
    overflow: auto;
  }



/*# sourceMappingURL=estilosEjercicios.css.map */