@font-face {
    font-family: alata;
    src: url(/fonts/Alata/Alata-Regular.ttf);
}
@font-face {
    font-family: sansNarrow;
    src: url(/fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
}
body{
    background-size: cover;
    background-image:url("/images/fondo.png");
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}
header,.menu,footer{
    font-size: 30px;
    font-family: alata;
    color:rgb(224, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu{
    justify-content: space-evenly;
}
.desplegable1{
    font-size: 30px;
    padding:auto;
}
.desplegable2{
    font-size: 20px;
    display: none;
    padding: none;
    list-style: none;
}
.desplegable1:hover>.desplegable2{
    display: block;
    position:absolute;
    background-color: hsla(0, 99%, 46%, 0.39);

}

.contenedor section{
    display: flex;
    padding: 5px;

}
.ley2,.ley4,.ley6{
    justify-content: center;
}
.ley3, .ley7{
        justify-content: end;
}

.contenedor article{
   color:beige;
   justify-content: space-around;
   width: 30%;
   height: 30%;
   display: flex;
   align-items: center;
   background-color: hsla(0, 4%, 34%, 0.39);
   border:1px solid white;
}
.contenedor img{
    width: 75%;

}
.tarjeta{
    flex-direction: column;
}
a{
    color: white;
    text-decoration: none;
    text-decoration-color: none;
}
a:hover{
    background-color: hsla(0, 4%, 34%, 0.39);
}
/* cajas */

.cajas{
    margin-top: 35px;
    background-color: hsla(0, 4%, 34%, 0.60);
    font-family: sansNarrow;

}
#caja1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(180, 163, 6);
}
#caja2{
    color: maroon;
    background-color: lavenderblush;
    flex-direction: column-reverse;
    flex: auto;
}
.imagenDireccion{
    width: small;
    height: small;

}
.caja3{
    margin-top: 10px;
    display: flex;
    align-content: center;
    width: auto;
    height: auto;
    background-color: white;
    justify-content: center;
}
.caja3 img{
    width: auto;
    height: 245px;
}
.caja3 article{
    background-color: black;
}
.caja4{
    margin-top: 10px;
    display: inline;
}
#caja4{
display: flex;
flex-direction: column;
background-color: khaki;
color: lightcoral;
}
.caja5{
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    color: burlywood;
    border:4px solid blue;
}
.caja5 article{
    border:none;
}

.caja5 p{
    justify-items: flex-start;
}
.caja6y7{
margin-top: 10px;
display: flex;
justify-content: space-between;
}
.caja6y7 article{
    display: flex;
    flex-direction: column;
    background-color:indianred;
    justify-content: center;
}