     @font-face {
        font-family:"slabo";
        src: url("/Fonts/Slabo27px-Regular.ttf");
    }
    body{
        font-family:slabo;
    }

    header{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .titulo{
       flex: auto;
       color: white;
    }
    .iconoInstituto{
        border: solid black 0.10rem;
        width: 10%;
        border-bottom: white;

    }
   nav{
        border: solid black 0.10rem;
        display: flex;
        margin-bottom: 100px;
        background-color:#DBD5B5;
        color: #44AF69;
        font-size: larger;
   }
   .menu{
        display: table;
        flex: auto;
        text-align:center;
        }
   .izquierda{
       float: left;

   }

   section{
       display: flow-root;
   }
   .listas{
       padding-left: 20px;
   }
   .listaOrdenada{
       padding-bottom: 220px;
   }

   .descripcion{
    margin-top: 100px;
    clear:left ;
   }
   .datosAlumno{
       margin-top: 200px;
       border: 1px solid black;
       padding-top: 20px;
       flex: auto;
       text-align: center;
   }
   header, footer{
       background-color: #44AF69;
   }
   td:hover{
    background-color: hsla(287, 71%, 28%, 0.4);
    color: white;
    cursor: pointer;
   }
   .imagenAula:hover{
        border: hsla(287, 71%, 28%, 0.4) 5px solid;
   }
